.footer {
  height: 20vh;
  display: flex;
  align-items: center;
  background-color: $light-text;

  p {
    font-size: 1rem;
    line-height: 120%;
    font-weight: 600;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  p {
    color: #1a1a1a;
  }
}

.dark-mode {
  .footer {
    background-color: #1e1e1e;

    p {
      color: $light-text;
    }
  }
}
