header {
  background-color: $light-bg;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 1440px;
  margin: 0px auto;

  .menuLinks {
    display: flex;
    gap: 40px;
    margin-right: 40px;

    a,
    button {
      position: relative;
      display: inline-block;

      &::after {
        content: "";
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: #8159f4;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform 0.3s ease;
      }

      &:hover::after {
        transform: scaleX(1);
      }
    }

    a {
      letter-spacing: 2px;
    }

    .menu-link {
      line-height: 1.5rem;
      font-weight: 700;
      color: $dark-bg;
      text-decoration: none;
      background-color: transparent;
      border: none;
      cursor: pointer;
      transition: 0.2s ease-in-out;
      font-family: "Roboto", sans-serif;
      font-size: 20px;
      line-height: 30px;
      letter-spacing: 1.5px;
      font-weight: 600;
      color: #1a1a1a;
      text-decoration: none;
    }
  }

  .changeTheme {
    margin-right: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: transparent;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s ease-in-out;
    box-shadow: none;
    border: 1px solid rgba(26, 26, 26, 0.6);
    border-radius: 999px;

    &:active {
      transform: rotate(360deg);
    }

    &:hover {
      background-color: rgb(238 240 245 / 8%);

      svg {
        fill: #000 !important;
      }
    }

    svg {
      transition: transform 0.2s ease-in-out;

      &:active {
        transform: rotate(360deg);
      }

      svg:hover {
        transform: scale(1.04);
        fill: $light-text;
      }
    }
  }
}

.dark-mode {
  header {
    background-color: $dark-bg;
    color: $dark-text;

    .changeTheme {
      border: 1px solid #e5e7eb;
      &:hover {
        background-color: #2d2f36cc;
      }
    }
  }

  .menu-links {
    button {
      color: $dark-text;
    }

    .menu-link {
      color: $light-bg;
    }
  }
}

@media screen and (max-width: 480px) {
  header {
    justify-content: center;
    padding: 0px 1rem;
  }
  .menuLinks {
    gap: 1rem !important;
    margin-right: 1rem !important;
  }

  .changeTheme {
    margin-right: 0px !important;
  }
}
