.stacks {
  background-color: $light-bg;

  .tech-badges {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    max-width: 880px;
    height: fit-content;

    img {
      height: 36px;
      object-fit: contain;
      transition: transform 0.2s;

      &:hover {
        transform: scale(1.1);
      }
    }
  }

  h2 {
    font-family: "Roboto", sans-serif;
    font-size: 42px;
    line-height: 120%;
    font-weight: 700;
    color: #1a1a1a;
    margin-top: 0px;
    margin-bottom: 1.5rem;
  }

  .stacks-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .comet {
    display: flex;
    width: 100%;
    max-width: 460px;
  }
}

.stacks.container {
  padding: 10rem 0px;
}

.dark-mode {
  .stacks {
    background-color: $dark-bg;
    color: $dark-text;
  }

  h2 {
    color: $light-text;
  }
}

@media screen and (max-width: 1460px) {
  .stacks {
    padding: 0px 1.25rem;
  }
}

@media screen and (max-width: 1000px) {
  .stacks-content {
    flex-direction: column;
    gap: 32px;

    .tech-badges {
      justify-content: center;
    }
  }

  .comet {
    max-width: 300px !important;
  }
}

@media screen and (max-width: 600px) {
  .tech-badges {
    img {
      height: 28px !important;
    }
  }
}
