// Tema Claro
$light-bg: #f5f5f5;
$light-text: #f4f4f4;
$light-link: #007bff;
$light-header-bg: #f5f5f5;

// Tema Escuro
$dark-bg: #181818;
$dark-text: #333333;
$dark-link: #66c2ff;
$dark-header-bg: #212121;

// Cores principais
$primary-bg: $light-bg;
$primary-text: $light-text;
$primary-link: $light-link;
$header-bg: $light-header-bg;

// Cores do tema escuro
$dark-primary-bg: #212121;
$dark-primary-text: $dark-text;
$dark-primary-link: $dark-link;
$dark-header-bg: $dark-header-bg;
