// Tema Claro
$light-bg: #fff;
$light-text: #f4f4f4;
$light-link: #007bff;

// Tema Escuro
$dark-bg: #212121;
$dark-text: #333333;
$dark-link: #66c2ff;

// Outras cores

$purple-color: #8159f4;
$purple-hover: #9575f3;
